{% extends 'layouts/furniture.njk' %}

{% block content %}

<!-- atf section 1 -->
{% include "../templates/partials/sections/atf-1.njk"%}
<!-- atf section 1 -->

<!-- browse jobs section 2 -->
{% include "../templates/partials/sections/jobs-2.njk"%}
<!-- browse jobs section 2 -->

<!-- CTAS section 3 -->
{% include "../templates/partials/sections/ctas-3.njk"%}
<!-- CTAS section 3 -->

<!-- featured employers section 4 -->
{% include "../templates/partials/sections/employers-4.njk"%}
<!-- featured employers section 4 -->

<!-- careers advice section 5 -->
{% include "../templates/partials/sections/careers-advice-5.njk"%}
<!-- careers advice section 5 -->

<!-- advertising section 6 -->
{% include "../templates/partials/sections/advertise-6.njk"%}
<!-- advertising section 6 -->

<!-- app section 7 -->
{% include "../templates/partials/sections/app-7.njk"%}
<!-- app section 7 -->
      
{% endblock %}