<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title | default(pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/public/js/script.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="{{ bodyClass }}">

    {% block bodyStart %}{% endblock %}

    <div class="container container__width">
      <p class="skip-to-content"><a accesskey="S" title="Access key: S" href="#main">Skip to main content</a></p>
      
      {% block header %}
      <header>
        <div class="account-bar">
            <div class="wrapper">
                {% include 'includes/header.njk' %}
            </div>
        </div>
        <div class="wrapper">
            <div class="page-header">
                <img src="{{ assetPath }}/images/logo.png" alt="Pxl Pro Jobs Logo" class="page-header__logo">
                {% include 'includes/navigation.njk' %}
                
            </div>
        </div>
      </header>
      {% endblock %}

      
      {% block main %}
      <main role="main" class="main" id="main">
        <div class="wrapper">
        
            {% block content %}{% endblock %}
       
        </div>
      </main>
      {% endblock %}
      
     
      {% block footer %}
      <footer>
        {% include 'includes/footer.njk' %}
      </footer>
      {% endblock %}

      {% block bodyEnd %}{% endblock %}

  </body>

</html>