@import "../../variables";
#atf__background{
    width:100vw;
    margin:0;
    padding:0;
}

.wrapper section.atf__background{
    margin:0;
    padding:0;
}

section.atf__background--wrapper{
    height:100%;
    width:100%;
}

.atf__background--image{
    background-image: url('../../../../public/images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100vw;
    position: relative;
}

.atf__background--image:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}

.wrapper__space{
    margin-left: -1.6vw;
    padding: 0px;
    /* overflow-x: hidden; */
    width: 103vw;
}

.heroMessage__position{
    padding-top:15%;
}

.heroMessage__title {
    position: relative;
    text-align: center;
    color: $color-white;
    z-index: 3;
    font-size:2rem;
    font-weight:bold;
}

.heroMessage__subHeading{
    position: relative;
    text-align: center;
    color: $color-white;
    font-size: 1rem;
    z-index: 3;
}

.jobSearch__wrapper{
    display: flex;
}

.jobSearch__wrapper--flex.columns{
    position: absolute;
    bottom: 0;
    width: 101vw;
    background: rgba(0,0,0,0.6);
    padding: 2rem;
    z-index: 3;
}

.columns:last-child {
    margin-bottom: 0;
}