<section class="atf__background">

    <div class="atf__background--image">
        <div class="heroMessage heroMessage__position">
            <h1 class="heroMessage__title">{{ heroMessage }}</h1>
            <h6 class="heroMessage__subHeading">{{ heroSubheading }}</h6>
        </div>

        <div class="jobSearch__wrapper">
            <div class="jobSearch__wrapper--flex columns">
                <div class="column">
                    <input class="jobsearch__keyword" type="text" placeholder="Keyword (e.g. Manager)">
                </div>
                <div class="column">
                    <input class="jobsearch__location" type="text" placeholder="Location (e.g. Boston)" >
                </div>
                <div class="column">
                    <input class=""/>
                </div>
                <div class="column">
                <button>Search</button>
                </div>
            </div>
        </div>
    </div>
</section>