<section class="browseJobs__background columns">
    <div class="browseJobs__wrapper is-full column">
        <div class=" browseJobs__sector columns">
            <div class="browseJobs__columnOne column">
            <h4>{{ browseJobs }}</h4>
              <div class="columns is-mobile">
                <div class="column">
                    <ul class="browseJobs__listOne column">
                        {% for job in jobCatColOne %}
                            <li class="browse-jobs__list-item ">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column">
                    <ul class="browseJobs__listOne column">
                            {% for job in jobCatColTwo %}
                                <li class="browse-jobs__list-item">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
                </div>
            </div>
          
            <div class="featuredJobs__column column">
            
                    <div class="featured-jobs__section">
                    <h4>{{ featuredJobs }}</h4>
                        <div class="columns is-mobile">
                            <div class="column is-third">
                                <p class="bd-notification is-danger">50%</p>
                            </div>
                            <div class="column is-third">
                                <p class="bd-notification is-danger">Auto</p>
                            </div>
                            <div class="column is-third">
                                <p class="bd-notification is-danger">Auto</p>
                            </div>
                        </div>
                        <div class="columns is-mobile">
                            <div class="column is-third">
                                <p class="bd-notification is-danger">50%</p>
                            </div>
                            <div class="column is-third">
                                <p class="bd-notification is-danger">Auto</p>
                            </div>
                            <div class="column is-third">
                                <p class="bd-notification is-danger">Auto</p>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>
</section>

<div class="columns">
  <div class="column">
    <p class="bd-notification is-info">First column</p>

  </div>
  <div class="column">
    <p class="bd-notification is-danger">Second column</p>
   
     <div class="columns is-mobile">
     <div class="columns is-mobile">
      <div class="column is-third">
        <p class="bd-notification is-danger">50%</p>
      </div>
      <div class="column is-third">
        <ul class="browseJobs__listOne column">
            {% for job in jobCatColOne %}
                <li class="browse-jobs__list-item ">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="column is-third">
         <ul class="browseJobs__listOne column">
                {% for job in jobCatColTwo %}
                    <li class="browse-jobs__list-item">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
                {% endfor %}
            </ul>
      </div>
    </div>
      <div class="column">
        <ul class="browseJobs__listOne column">
            {% for job in jobCatColOne %}
                <li class="browse-jobs__list-item ">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="column">
        <ul class="browseJobs__listOne column">
                {% for job in jobCatColTwo %}
                    <li class="browse-jobs__list-item">{{ job.cat }} | <a class="browse-jobs__quantity">{{ job.catNo }}</a></li>
                {% endfor %}
            </ul>
      </div>
    </div>
  </div>
</div>