<footer>
<ul class="menu page-nav u-reset-list">
    {% for item in footerItems %}
        <li class="menu__list-item page-nav__item"><a class="menu__list-item--link" href="{{ item.url }}">{{ item.label }} </a></li>
    {% endfor %}
    </ul>
     <hr>
    <div>
    <p id="date"></p> <p>{{ powered }}</p>
    </div>
    <script>
    var d = 2019;
    document.getElementById("date").innerHTML = d;
    </script>
    <ul>
    {% for item in socialMedia %}
    <li><img src={{ item.img }}></li>
    {% endfor %}
    </ul>

</footer>