<div class="account-bar">
<div class="account-bar__inner">
    <a href="#">Visit PxlPro.com</a>
    <div>
        <a href="#">Sign in</a>
        <a href="#" class="u-hide-x-small">Create account</a>
    </div>
</div>
</div>