<nav>
    <ul class="menu page-nav u-reset-list">
    {% for item in navItems %}
        <li class="menu__list-item page-nav__item"><a class="menu__list-item--link" href="{{ item.url }}">{{ item.label }} </a></li>
    {% endfor %}
    </ul>
</nav>