@import 'variables';
@import 'normalize';
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  src: url('../fonts/ProximaNova-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('../fonts/ProximaNova-Bold.woff') format('woff');
}

html {
  font-size: 15px;
  overflow-x:hidden;
}

body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1900px;
}

a {
  color: $color-brand;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ProximaNova';
}

.wrapper {
  margin: 0 auto;
  max-width: 1180px + ($page-padding * 2);
  padding: 0 $page-padding;
}

@import 'utilities';
@import 'components/skip-link';
@import 'components/account-bar';
@import 'components/page-header';

@import 'components/atf/atf';
@import 'components/careers-advice/careers-advice';
@import 'components/ctas/ctas';
@import 'components/employers/employers';
@import 'components/jobs/jobs';
@import 'components/social/social';

div.container.container__width{
  margin:0;
  padding:0;
}

div.account-bar {
  text-align:center;
}

// clear all default margin and padding
div.wrapper{
  margin:0;
  padding:0;
}

header{
  text-align: center;
  width:100vw;
}

// remove default bulma -.75rem margin
.columns, .column{
  margin:0;
  border:1px solid grey;
}